$mainFontFamilly: "Roboto", sans-serif;
$headerFontFamilly: "Montserrat", sans-serif;
$logoBoltColor: #10d876;
$logoTextColor: #05f;
$authInputBorderColor: #EEEEEE;
$authInputBorderBlurColor: #05f;
$authInputIconColor: #adb5bd;
$authButtonBgColor: #343a40;
$authButtonFontColor: #fff;
$bodyBgColor: #fbfcfe;
$navbarBgColor: #fff;
$navigationLinkBgColor: #f5f5f5;
$navigationLinkFontColor: #adb5bd;
$navigationSettingsLinkFontColor: #0055ff;
$navigationLinkBgColorFocus: #d2e3ff;
$navigationLinkBorderColorFocus: #bcd5fe;
$navigationLinkFontColorFocus: #05f;
$sidebarCardBgColor: #fff;
$sidebarCardTitleFontColor: #adb5bd;
$sidebarCardListIconFontColor: #05f;
$sidebarCardNewsFeedFontColor: #fff;
$sidebarCardNewsFeedBgColorFirst: #03389C;
$sidebarCardNewsFeedBgColorSecond: #E75326;
$sidebarCardNewsFeedBgColorThird: #F2A14B;
$sidebarCardNewsFeedBgColorFourth: #F63642;
$sidebarCardNewsFeedBgColorFifth: #0072FF;
$sidebarCardAccountIconFontColor: #888;
$sidebarCardListFontColor: #888;
$sidebarCardListFontColorHover: #05f;
$userpageBgContentColor: #fff;
$userpageAvatarBorderColor: #fff;
$userpageMailFontColor: #adb5bd;
$userpageSubmenuBorderColor: #f1f1f1;
$userpageSubMenuFiltersFontColor: #adb5bd;
$userpageSubMenuFiltersBgColor: #fff;
$userpageSubMenuFiltersHoverColor: #000;
$buttonBgColor: #000;
$buttonDangerBgColor: #eb0101;
$buttonIconBgColor: #f5f5f5;
$buttonIconFontColor: #000;
$buttonFontColor: #fff;